<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huan.wxshop.dao.GoodsStockMapper">
    <update id="deductStock" parameterType="GoodsInfo">
        update GOODS
        SET STOCK = STOCK - #{number}
        where id = #{goodsId}
          AND STATUS = 'ok'
          AND STOCK >= #{number}
    </update>
</mapper>