<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huan.order.mapper.MyOrderMapper">
    <insert id="batchInsert" parameterType="OrderInfo">
        INSERT INTO ORDER_GOODS(GOODS_ID, ORDER_ID, `NUMBER`)
        VALUES
        <foreach collection="goods" item="item" index="index" separator="," close=";">
            (#{item.goodsId}, #{orderId}, #{item.number})
        </foreach>
    </insert>
    <select id="queryOrderGoods" parameterType="long" resultType="GoodsInfo">
        select GOODS_ID as goodsId,
               NUMBER as number
        from ORDER_GOODS
        where Order_ID=#{orderId}
    </select>
</mapper>